.Board {
  padding: 30px;

  > div {
    height:1200vh !important;
    overflow: hidden;

    > object {
      display: none !important;
    }
  }
  //height: 100vh;
  //position: relative;
  //
  //> div {
  //  position: absolute;
  //  left: 0;
  //  bottom: 0;
  //  right: 0;
  //}
}