$SidenavWidth:200px;

.Sidenav {
  //position: relative;
  position: fixed;
  height:100%;
  z-index: 0;

  .bm-menu-wrap {
    //width:$SidenavWidth !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
  .bm-item-list {
    padding-top: 25%;
    background-color: white;
  }
  .test-input {
    width: 100%;
    //margin-left: auto;
    //margin-right: auto;
  }
}

:export {
  SidenavWidth:$SidenavWidth;
}