.SecondBoard {
  position: fixed;
  height:100%;
  top:69px;
  left: 50%;
  width:50%;
  bottom: 0;
  right: 0;
  background-color: cornsilk;

  > div {
    height: 800vh !important;
    overflow: hidden;

    > object {
      display: none !important;
    }
  }


}