.App {
  .dropdown-toggle {
    width: 140px;
  }

  .ModelDropdown {
    position: fixed;
    top: 80px;
    left: 20px;
  }

  .ImageDropdown {
    position: fixed;
    top: 80px;
    left: 170px;

    .sampleName {
      display: inline-block;
      margin-left: 10px;
    }
  }
}
